/* Common Section */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: $color-black;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  margin: 0 10px;
}

#lower {
  text-transform: lowercase;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: $color-black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  span {
    color: $color-crimson;
  }
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: $color-crimson;
  background-color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
  @include border(2px, solid, $color-crimson);
}

.cta:hover {
  color: $color-white;
  background: $color-crimson;
}

.brand {
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-white;
  }
  .red {
    color: $color-crimson;
  }
  #lower {
    text-transform: lowercase;
  }
} 


/* Media Query for Tablet */
@media only screen and (min-width: 768px){
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }
}
/* End Media Query for Tablet */
