/* Services Section */

#services  {
  .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
  }
  .service-top {
    max-width: 500px;
    margin: 0 auto;
  }
  .service-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    .icon {
      height: 70px;
      width: 70px;
      margin-bottom: 20px;
    }
  }
  .service-item {
    flex-basis: 80%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../images/img-1.png);
    background-size: cover;
    margin: 10px 5%; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    h2 {
      font-size: 2rem;
      color: $color-white;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    p {
      color: $color-white;
      text-align: left;
    }
  }
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg,$color-gradient1 0%, $color-gradient2 100%);
  opacity: .8;
  z-index: -1;
}

/* Media Query for Tablet */
@media only screen and (min-width: 768px) {
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
}

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}