// Variables
$color-black: #000;
$color-crimson: #dc143c;
$color-white: #fff;
$color-overlay: #f0f8ff05;
$color-header-ul: #1f1e1e;
$color-gradient1: #29323c;
$color-gradient2: #485563;

// Mixins
@mixin border($width, $style, $color) {
  border: $width $style $color;
}

// Imports
@import "common";
@import "header";
@import "hero";
@import "services";
@import "projects";
@import "about";
@import "contact";
@import "footer";
@import "keyframes";